<html>

<body>
    <h1>{{HEADER}}</h1>
    <p>{{VERSION}}</p>
    <p>{{CORE_VERSION}}</p>
    <p>{{CATEGORY}}</p>
    <p>{{LICENSE}}</p>
    <H3>{{DESCHEADER}}</H3>
    <p>{{DESCRIPTION}}</p>
    <H3>{{AUTHHEADER}}</H3>
    <p>{{AUTHORS}}</p>
</body>

</html>